.Settings {
  position: fixed;
  height: 100vh;
  width: 300px;
  border: 2px solid;
  background-color: rgb(165, 165, 165);
}
* {
  color: rgb(221, 90, 90);
}
.color-round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.colors {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(189, 189, 189);
  border-radius: 20px;
}
.colorBtn {
  margin-top: 30px;
  border: 2px solid;
  width: fit-content;
  font-size: 30px;
  border-radius: 10px;
}
.colorBtn:hover {
  background-color: aliceblue;
}
.timer-cont {
  margin: 20px;
}
.timer {
  font-size: 20px;
}
.inpTimer {
  border-radius: 15px;
  text-align: center;
}
.title {
  margin: 30px;
}
.colors-cont {
  margin: 20px;
}
