.textBtn {
  font-size: 20px;
}
.question-input-cont {
  display: flex;
  gap: 10px;
}

.answer-input-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  height: 100px;
  width: 150px;
}

.delete {
  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: red;
  border-radius: 5px;
}
.delete:active {
  background-color: red;
}
.delete:hover {
  background-color: rgb(182, 134, 134);
}

.CorrectIncorrect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
}

.hide {
  display: none;
}

.table {
  position: relative;
  margin: 20px;
  width: 450px;
  height: 380px;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
}
.top-cont {
  padding: 40px;
  height: 150px;
}
.number {
  position: absolute;
  left: 10px;
  padding: 0;
  margin: 0;
  font-size: 40px;
}
.answers {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 100px);
  grid-gap: 5px;
}
.answer {
  /*border: solid 1px black;*/
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.answerBtn {
  display: absolute;
  height: 25px;
  width: 70px;
  font-size: 20px;
}
.answer-cont {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 15px;
}

.inpAnswer {
  width: 130px;
  height: 25px;
  font-size: 20px;
}
.inpQuest {
  font-size: 15px;
}

.answer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
